*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family:'Poppins' , sans-serif;   
}

header{
    background-color:#191f28 ;
    width: 100%;
    position:fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 200px ;
    overflow: hidden;
}
.logo{
    text-decoration: none;
    color:#ecbd7c ;
    text-transform: uppercase;
    font-size: 1.8em;
    font-weight: 700;
}
.logoIcon{
    display: inline;
    color: #99a0a8;
    font-size: 1.5em;
    width: 20px;
    margin: 10px;
}
.navigation a {
    color: #ecbd7c;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
    transition: 0.5s;
    display: inline-block;
    
}
.navigation a:hover{
    color:#99a0a8 ; 
    transform: scale(1.2) ;
}
section{
    padding: 100px 200px;
    overflow: hidden;
}
.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: #191f28 ;
    background-size: cover;
    background-position: center;
    
}
.main::after{
    content: '';
    width: 100%;
    height: 100%;
    background: #99a0a8;
    position: absolute;
    clip-path: circle(27% at right 50%);
    right: 0px;
    opacity: 0.5;
    
}
.main h2{
    color: #99a0a8;
    font-size: 1.3em;
    font-weight: 500;
}
.main h2 span{
    display: inline-block;
    margin-top: 10px;
    color: #ecbd7c;
    font-size: 3em;
    font-weight: 600;
    
}
.main h3{
    color: #99a0a8;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.main-btn{
    color: #191f28;
    background-color: #c69f68;
    text-decoration: none;
    font-size: 1.2em;
    font-weight:900;
    letter-spacing: 1px;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;
}
.main-btn:hover{
    background-color:#ecbd7c ;
    transform: scale(1.1);
}
.social-icons a{
    color: #99a0a8;
    font-size: 1.7em;
    padding-right: 30px;
   
}
section .image1 {
    position: relative;
    top: 350px;
    right: 450px;
    width: 90px;
}
section .image2 {
    position: relative;
    bottom:300px ;
    left: 10px;
    width: 90px;
}
section .image3 {
    position: relative;
    top: 350px; ;
    right: 1200px;
    width: 90px;
}
.services-card{
    background-color: #1f2730;
}
.title{
    display:flex;
    justify-content: center;
    color: #ecbd7c;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}
.content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.card{
    background-color: #374656;
    width: 21.25em;
    
    border-radius: 10px;
    padding: 30px;
    margin: 20px;
    transition: 0.7s ease;
}
.card:hover{
    transform: scale(1.1);
}
.icon{
    color:#99a0a8;
    font-size:  8em;
    text-align: center;

}
.info{
    text-align: center;
}
.info h3{
    color: #ecbd7c;
    font-size: 1.2em;
    font-weight: 700;
    margin: 15px;
}
.info p{
    color: #c0cedd;
    font-size: 1.1em;
    font-weight: 200;
    letter-spacing: 1px;
}
.projects{
    background-color: #191f28;
}
.projects .content{
    margin-top: 30px;
}
.project-card{
    background-color: #191f28;
    border: 1px solid #c69f68;
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
}
.project-card:hover{
    transform: scale(1.1);
}
.project-card:hover .project-image{
    opacity: 0.9;
}
.project-image img{
    width: 100%;
}
.project-info{
    padding: 0.9em;
}
.project-category{
    font-size: 0.8em;
    color: #c69f68;
}
.project-title{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 10px;
    color: #99a0a8;
}
.more-details{
    text-decoration: none;
    color: #c69f68;
}
.more-details:hover{
    color:#99a0a8;
}
section .project-icon-wallpaper1{
    width: 5.5em;; 
    position: relative;
    bottom: 25em ;
    left: 92.5em;
}
section .project-icon-wallpaper2{
    width: 5.5em;
    position: relative;
    top: 4em;
}
section .project-icon-wallpaper3{
    width: 9em;
    position: relative;
    top: 4em;
    left: 60em;
}
.contact-card{
    background-color: #1f2730;
    padding-bottom: 200px;
}
.contact-card .icon{
    font-size: 4.5em;
    color: #c0cedd;
}
.contact-card .info h3{
    color: #c0cedd;
}
.contact-card .info a{
    font-size: 1.4em;
    text-decoration: none;
    color: #c0cedd;
}
footer{
    position: relative;
    width: 100%;
    background-color: #6e798d;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
footer .social_icons, 
footer .menu
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}
footer .social_icons li ,
footer .menu li 
{
    list-style: none;
}
footer .social_icons li a {
    font-size: 2em;
    color: #c69f68;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}
footer .social_icons li a:hover{
    transform: translateY(-10px);
}
footer .menu li a {
    font-size: 1.2em;
    color: #c0cedd;
    margin: 0 10px;
    display: inline-block;
    text-decoration: none;
    opacity: 0.75;
}
footer .menu li a:hover{
    opacity: 1;
}
footer p , footer a {
    color: #c69f68;
    text-align: center;
    text-decoration: none;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1em;
}

footer .wave{
    position: absolute;
    top: -100px;
    left: 0 ;
    width: 100%;
    height: 100px;
    background:  url(/image/wave.png);
    background-size: 1000px 100px;
}
footer .wave#wave1{
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;
}
footer .wave#wave2{
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave_02 4s linear infinite;
}

footer .wave#wave3{
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWave 3s linear infinite;
}
footer .wave#wave4{
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animateWave_02 3s linear infinite;
}
@keyframes animateWave 
{
    0%
    {
        background-position-x: 1000px;
    }
    100%
    {
        background-position-x: 0px;
    }
    
}
@keyframes animateWave_02 
{
    0%
    {
        background-position-x: 0px;
    }
    100%
    {
        background-position-x: 1000px;
    }
    
}

@media (max-width:1023px){
    header{
        padding: 12px 20px;
    }

    .navigation a {
        padding-left: 10px;
    }

    .title{
        font-size: 1.8em;
    }

    section{
        padding: 80px 20px;
    }
    .main h2{
        font-size: 1em;
    }

    .main h3{
        font-size: 1.6em;
    }

    .content{
        align-items: center;
        flex-direction: column;
    }

    .main::after{
        content: '';
        width: 100%;
        height: 100%;
        background: #99a0a8;
        position: absolute;
        clip-path: circle(30% at bottom );
        opacity: 0.5;
    }


    section .image1 {
        position: relative;
        top: auto;
        right: -90px;
        width: 5em;
    }
    section .image2 {
        position: relative;
        bottom:300px ;
        left: -300px;
        width:5em;
    }
    section .image3 {
        position: relative;
        top: 370px; ;
        right: 800px;
        width: 5em;
    }

    section .project-icon-wallpaper1{
        width: 4em;; 
        position: relative;
        bottom: -2em ;
        left: 50.5em;
    }
    section .project-icon-wallpaper2{
        width: 5em;
        position: relative;
        top: 3em;
    }
    section .project-icon-wallpaper3{
        width: 8em;
        position: relative;
        top: -30em;
        left: -7em;
    }
   
}
@media (max-width:641px){
    body{
        font-size: 12px;
    }
    .main h2{
        font-size: 0.8em;
    }
    .main h3{
        font-size: 1,4em;
    }
    .main .social-icons a{
        padding: 3px;
    }
}

@media (max-width:300px){
    body{
        font-size: 10px;
    }
    .main .social-icons a{
        padding: 2px;
    }
    .project-card{
        margin-left:5px ;
    }
    .logo{
        font-size: 15px;
    }
    .logoIcon{
       display: none;
    }
    .navigation a {
        font-size: 10px;
        padding: 2px;
        margin-left: 0.9px;
        margin-right: 0.1px;
    }
}
